/* Design System */
body {
  font-size: 16px;
  color: rgba(0, 0, 0, 0.87);
}
/* Typography */
.nanumsquareH1Regular {
  font-family: "NanumSquare", sans-serif !important;
  font-weight: 800;
  font-size: 3rem; /* 48px */
  line-height: 7rem; /* 112px */
  letter-spacing: -0.09rem;
}

.nanumsquareH2Light {
  font-family: "NanumSquare", sans-serif !important;
  font-weight: 700;
  font-size: 2.25rem; /* 36px */
  line-height: 4.5rem; /* 72px */
  letter-spacing: -0.03rem;
}

.nanumsquareH3 {
  font-family: "NanumSquare", sans-serif !important;
  font-weight: 700;
  font-size: 2.13rem; /* 34px */
  line-height: 2.25rem; /* 36px */
}

.nanumsquareH4 {
  font-family: "NanumSquare", sans-serif !important;
  font-weight: 700;
  font-size: 1.88rem; /* 30px */
  line-height: 2.25rem; /* 36px */
}

.nanumsquareH5Regular {
  font-family: "NanumSquare", sans-serif !important;
  font-weight: 700;
  font-size: 1.5rem; /* 24px */
  line-height: 2.13rem; /* 34px */
  letter-spacing: 0.01rem; /* 0.18px */
}

.nanumsquareH6Medium {
  font-family: "NanumSquare", sans-serif !important;
  font-weight: 700;
  font-size: 1.25rem; /* 20px */
  line-height: 1.5rem; /* 24px */
  letter-spacing: 0.01rem; /* 0.15px */
}

.nanumsquareSubtitle1Regular {
  font-family: "NanumSquare", sans-serif !important;
  font-weight: 700;
  font-size: 1rem; /* 16px */
  line-height: 1.5rem; /* 24px */
  letter-spacing: -0.01rem; /* 0.15px */
  transform: skew(-0.1deg); /* 나눔스퀘어 16px이하 깨지는 현상 발생 */
}

.nanumsquareSubtitle2Medium {
  font-family: "NanumSquare", sans-serif !important;
  font-weight: 700;
  font-size: 0.88rem; /* 14px */
  line-height: 1.5rem; /* 24px */
  letter-spacing: 0.01rem; /* 0.1px */
}

.nanumsquareBody1 {
  font-family: "NanumSquare", sans-serif !important;
  font-weight: 400;
  font-size: 1rem; /* 16px */
  line-height: 1.5rem; /* 24px */
  letter-spacing: 0.01rem; /* 0.1px */
  transform: skew(-0.1deg); /* 나눔스퀘어 16px이하 깨지는 현상 발생 */
}

.nanumsquareBody2 {
  font-family: "NanumSquare", sans-serif !important;
  font-weight: 400;
  font-size: 0.88rem; /* 14px */
  line-height: 1.25rem; /* 20px */
  letter-spacing: -0.02rem; /* 0.1px */
  transform: skew(-0.1deg); /* 나눔스퀘어 16px이하 깨지는 현상 발생 */
}

.nanumsquareCaption {
  font-family: "NanumSquare", sans-serif !important;
  font-weight: 600;
  font-size: 0.75rem; /* 12px */
  line-height: 0.75rem; /* 12px */
  letter-spacing: 0.03rem; /* 0.4px */
  transform: skew(-0.1deg); /* 나눔스퀘어 16px이하 깨지는 현상 발생 */
}

/* Color */
.primaryMainBg {
  background-color: #3d4fa6;
}
.primaryDarkBg {
  background-color: #2b3877;
}
.primaryLightBg {
  background-color: #5771ee;
}
.subPinkBg {
  background-color: #fb6c6c;
}

.primaryMain {
  color: #3d4fa6;
}
.primaryDark {
  color: #2b3877;
}
.primaryLight {
  color: #5771ee;
}
.subPink {
  color: #fb6c6c;
}
.highEmphasis_onLight {
  color: rgba(0, 0, 0, 0.87);
}
.mediumEmphasis_onLight {
  color: rgba(0, 0, 0, 0.6);
}
.disabled_onLight {
  color: rgba(0, 0, 0, 0.38);
}
.surface_white {
  color: #fff;
}
/* header */
header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 114px;
  z-index: 2;
}
header .mobileMenu {
  position: absolute;
  top: 64px;
  right: 20px;
  width: 30px;
  height: 30px;
  cursor: pointer;
  z-index: 5;
}
body, html{
  width:100%;
  height: 100%;
  overflow-x: hidden;
}
.menuwrap {
  display: none;
  width: 100%;
  height: 100%;
  position: absolute;
  top:0;
  right: -100%;
  z-index: 10;
  backdrop-filter: blur(140px);
  /* background-image: url(../images/common/lf_common_panel_bg.png);
  background-size: 100%; */
  }
  .menuLogo {
    width: 175px;
    padding: 80px 40px;
  }
  .category_list li {
    margin-bottom: 30px;
    text-align: center;
    list-style: none;
  }
  .link_sub_item {
    text-decoration: none;
  }
  .mobileMenuClose {
    display: block;
    margin: 0 auto;
  }

/* footer */
footer {
  background-color: #333;
  padding: 40px 50px;
  box-sizing: border-box;
}
footer .footerLogo {
  display: block;
  margin: 0 auto;
}
footer .footerSnsWrap {
  text-align: center;
  padding: 30px 0;
}
footer .footerSnsWrap a {
  padding: 0 5px;
}
.footerLine {
  width: 100%;
  height: 1px;
  background-color: #fff;
  margin: 20px 0;
}
/*  */
.contentsWrap {
  width: 100%;
  padding: 0 20px;
  box-sizing: border-box;
}
