/* 서브페이지 공통 */
.subPageTitle {
  padding-left: 20px;
}
.subTitle {
  padding: 20px 0 10px 0;
  text-align: center;
}
.subTitleTop {
  position: relative;
}
.subTitleCircle {
  position: absolute;
  bottom: 6px;
  padding-left: 2px;
}

@media screen and (max-width: 599px) { /* 모바일 세로 */
  /* 강사소개 페이지 */
  .teachersImg {
    width: 100%;
    height: auto;
  }
  .taecherInfo {
    text-align: center;
    padding: 20px 0 30px 0;
  }
  .teacherName {
    display: inline-block;
    padding: 3px 15px;
    color: #fff;
    margin-bottom: 5px;
  }
  .classInfoText1 {
    text-align: center;
  }
  .classInfoText2 {
    position: relative;
    width: fit-content;
    margin: 0 auto;
  }
  .pointBg {
    position: absolute;
    width: 100%;
    height: 10px;
    background-color: #d4dcff;
    bottom: 0;
    z-index: -999;
  }
  .pointSentence {
    text-align: center;
    padding: 30px 0;
  }
  .pointSentence img {
    padding: 25px 0;
  }
  .resumeLine {
    width: 100%;
    height: 1px;
    background-color: #fb6c6c;
    margin: 10px 0;
  }
  .teacherResume {
      padding-bottom: 50px;
  }
  .blueLine {
    width: 30px;
    height: 5px;
    background-color: #5771ee;
    margin: 0 auto;
  }

  /* 비용페이지 */
  .tuitionWrap{
    padding: 0 20px;
    box-sizing: border-box;
  }
  .tuitionLogo {
    padding: 10px 0;
  }
  .blueLineLeft {
    width: 30px;
    height: 5px;
    background-color: #3D4FA6;
    float: left;
    margin: 30px 0;
  }
  .tuitionBoxWrap {
    padding: 30px 0;
  }
  .tuitionBox {
    width: 100%;
    padding: 20px;
    border: 1px solid #5771EE;
    box-sizing: border-box;
    border-radius: 20px;
  }
  .hourBox {
    display: inline-block;
    padding: 0 5px;
    color: #fff;
    border-radius: 5px;
  }
  .yellowBox {
    display: inline-block;
    background-color: #FFC959;
    padding: 0 5px;
    border-radius: 5px;
  }
  .hourCost1 {
    text-decoration: line-through;
    display: inline-block;
    padding-left: 10px;
  }
  .hourCost2 {
    display: inline-block;
    color: #FF9900;
    padding-left: 20px;
  }

  /* 강의소개-기초강의 */
  .classMenu {
    width: 100%;
    height: 50px;
    margin-top: 10px;
  }
  .classMenu li {
    display: table-cell;
    float: left;
    list-style: none;
    width: 20%;
    text-align: center;
    line-height: 50px;
  }
  .menuSelect {
    color: #fb6c6c;
    border-bottom: 2px solid #fb6c6c;
  }
  .menuDefault {
    color: rgba(0, 0, 0, 0.38);
  }
  .classMenu li a {
    text-decoration: none;
  }
  .classWrap {
    padding-top: 40px;
  }
  .classInfoListWrap{
    width: 100%;
    height: 120px;
  }
  .classInfoList {
    float: left;
    list-style: none;
    width: 25%;
    padding: 25px 0;
    text-align: center;
    background-image: url(../images/subPages/lf_subPages_class_classInfo_line.png);
    background-repeat: no-repeat;
    background-position-y: center;
  }
  .classInfoList:first-child {
    background-image: none;
  }
  .classInfoList img {
    width: 25px;
    height: 25px;
    padding-bottom: 8px;
  }
  .classBanner {
    display: block;
    width: 280px;
    padding: 35px 0;
    margin: 0 auto;
  }
  .classBannerImg {
    width: 20%;
    float: right;
  }
  .BannerText {
    display: inline-block;
  }
  .classAdvantages {
    padding: 40px 20px;
    background-color: rgba(0, 0, 0, 0.04);
  }
  .classAdvantagesList {
    list-style: none;
    border-radius: 10px;
    height: 60px;
    padding: 0 10px;
    margin-bottom: 10px;
    background-color: #fff;
    display: flex;
    align-items: center;
  }
  .classAdvantagesList ul {
    display: flex;
    align-items: center;
  }
  .classAdvantagesList ul li {
    list-style: none;
    float: left;
  }
  .classOffer {
    padding: 30px 20px;
  }
  .classOffer .classOfferListWrap {
    padding: 20px;
    box-sizing: border-box;
  }
  .classOffer .classOfferListWrap .classOfferList {
    list-style: none;
    width: 100%;
    overflow: hidden;
    padding: 15px 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.24);
  }
  .classOfferList div {
    float: left;
  }
  .offerHashtagWrap {
    padding-top: 40px;
  }
  .offerHashtagWrap div {
    display: inline-block;
    padding: 5px 10px;
    border-radius: 5px;
    background: rgba(0, 0, 0, 0.12);
    margin: 10px 5px 0 0;
  }
  .recommendWrap {
    padding: 40px 20px;
    box-sizing: border-box;
    position: relative;
  }
  .recommendTitle {
    display: inline-block;
    background-color: #fff;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0%);
    z-index: 1;
  }
  .recommendContents {
    width: 100%;
    text-align: center;
    padding: 60px 0;
    border-radius: 10px;
    margin-top: 25px;
    border: 1px solid #fb6c6c;
  }
  .anotherPageWrap {
    text-align: center;
    padding-bottom: 60px;
  }
  .anotherPageBtn {
    padding: 13px 20px;
    border-radius: 100px;
    text-decoration: none;
    border: 1px solid #3D4FA6;
  }
}